@model List<Employee>
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lasthname</th>
            <th>Title</th>
            <th>Title of Coursety</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Title</td>
                <td>@employee.TitleOfCourtesy</td>
                <td>
                    @Html.ActionLink("Delete","Delete",new { id=employee.EmployeeID},new { @class="btn btn-danger"})
                </td>
            </tr>

        }
    </tbody>
</table>
<div class="container">
    <div class="row">
        <a href="/HR/Employee/Insert/" class="btn btn-primary">Add Employee</a>
    </div>

</div>
